@media screen and (max-width: 900px) {
  .logo {
    width: 100%;
  height: auto;
  }
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    text-align: left;}

 h3 {
      font-size: larger;
    }
 p {
      font-size: larger;
    }
  }
  @media (max-width: 900px){
   .topnav {
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 999;
   }
    section h1{
      font-size: 2rem;
      text-align: center;
    }
    section .text-container{
      flex-direction: column;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
    }
    .column {
      width: 100%;
      flex-direction: column;
      font-size: larger;
    }
    .column > h2 {
      font-size: x-large;
    }
    .column > p {
      font-size: x-large;}

      #macchina {
        width: 100%;
        margin-right: 30%;
        margin-left: 70%;
    }
    }

   
